<mat-toolbar color="primary">
  <app-logo></app-logo>
  <app-social-icon type="telegram" [url]="configService.telegramUrl"></app-social-icon>
  <app-social-icon type="whatsapp" [url]="configService.whatsAppUrl"></app-social-icon>
  <app-social-icon type="viber" [url]="configService.viberUrl"></app-social-icon>
  <app-social-icon type="facebook" [url]="configService.facebookUrl"></app-social-icon>
  
  <a routerLink="/404" class="nav-link">404</a>
  <a routerLink="/stop_service" class="nav-link">stop_service</a>
  
  <span></span>
  <span class="spacer"></span>
  
  <!-- Переключатель языка -->
  <mat-button-toggle-group 
    [value]="currentLanguage" 
    (change)="changeLanguage($event.value)"
    aria-label="Вибір мови">
    <mat-button-toggle *ngFor="let lang of languages" [value]="lang.code" [class.ua-button]="lang.code === 'uk'" [class.en-button]="lang.code === 'en'" [class.ru-button]="lang.code === 'ru'">
      {{ lang.label }}
    </mat-button-toggle>
  </mat-button-toggle-group>
  
  <!-- Переключатель темы -->
  <ng-container *ngIf="theme$ | async as currentTheme">
    <button 
      mat-icon-button 
      (click)="toggleTheme()" 
      [attr.aria-label]="getThemeLabel(currentTheme)"
      [title]="getThemeTitle(currentTheme)">
      <mat-icon>{{ getThemeIcon(currentTheme) }}</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

