:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.example-card {
  max-width: 400px;
  width: 100%;
}

