.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 64px);
}

.example-card {
  max-width: 400px;
  width: 100%;
}

