<footer class="app-footer">
  <div class="footer-content">
    <div class="footer-section">
      <p>&copy; {{ currentYear }} GeoSun. Всі права захищені.</p>
    </div>
    <div class="footer-section">
      <p>&copy; {{ currentYear }} GeoSun. Всі права захищені.</p>
      <app-social-icon type="telegram" [url]="configService.telegramUrl"></app-social-icon>
      <app-social-icon type="whatsapp" [url]="configService.whatsAppUrl"></app-social-icon>
      <app-social-icon type="viber" [url]="configService.viberUrl"></app-social-icon>
      <app-social-icon type="facebook" [url]="configService.facebookUrl"></app-social-icon>
    </div>
  </div>
</footer>

