/* You can add global styles to this file, and also import other style files */

@import 'styles/theme';

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

// Стили для светлой темы
.light-theme {
  background-color: #fafafa;
  color: #000000;
}

// Стили для темной темы
.dark-theme {
  background-color: #303030;
  color: #ffffff;
}

// Стили для выбранных кнопок языков
mat-button-toggle.ua-button.mat-button-toggle-checked {
  background-color: #FFD700 !important;
  color: #0000FF !important;
  
  .mat-button-toggle-button,
  .mat-button-toggle-label-content {
    background-color: #FFD700 !important;
    color: #0000FF !important;
  }
}

mat-button-toggle.en-button.mat-button-toggle-checked {
  background-color: #0000FF !important;
  color: #FFFFFF !important;
  
  .mat-button-toggle-button,
  .mat-button-toggle-label-content {
    background-color: #0000FF !important;
    color: #FFFFFF !important;
  }
}

mat-button-toggle.ru-button.mat-button-toggle-checked {
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
  
  .mat-button-toggle-button,
  .mat-button-toggle-label-content {
    background-color: #FF0000 !important;
    color: #FFFFFF !important;
  }
}
